/* ---------------- Generic style ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  /* Font stacks */
  --font-body: "Forum", serif;
  --font-specific: "IBM Plex Sans", sans-serif;
  --font-specific-transform: uppercase;

  /* Brand palette */
  --color-text: #183b4e; /* dark blue */
  --color-bg: #f5f5dc; /* beige */
  --color-org: #e07b39; /* orange */
  --color-lgt-org: #da938a; /* light orange */
  --color-lgt-blue: #d9e6ec; /* light blue */
  --color-brown: #b6a28e; /* brown */
  --color-sage: #dce4c9; /* sage */
  --color-grey: #dadfe3; /* light grey */
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* ---------------- Navbar ---------------- */
.navbar {
  color: var(--color-text);
  background: linear-gradient(
    to bottom,
    var(--color-grey) 0px,
    var(--color-grey) 40px,
    rgba(218, 223, 227, 0) 60px
  );
  padding: 0.6rem auto;
}

.navbar-nav .nav-link {
  padding: 0;
}

.nav-link,
.nav-icon {
  color: var(--color-text) !important;
}

.navbar-brand {
  color: var(--color-text);
  font-size: 1.8rem;
}

.nav-link {
  font-size: 1.3rem;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none;
  box-shadow: none;
  outline: none;
}

/* ---------------- Footer ---------------- */
.site-footer {
  color: var(--color-text);
  font-family: var(--font-specific);
}
